* {
  margin: 0;
  padding: 0px;
}

#root {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(194, 194, 194);
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.joke-wrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
